body {
    background-image: url("https://export-download.canva.com/JSVzY/DAE1JoJSVzY/3/0/0001-16344772588.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJHKNGJLC2J7OGJ6Q%2F20220111%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220111T053709Z&X-Amz-Expires=36322&X-Amz-Signature=99b16307a5a9207ee6c921bfb2312ff5e9a105096a80ac0b6bdd1a7a264f5052&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27Untitled%2520design.png&response-expires=Tue%2C%2011%20Jan%202022%2015%3A42%3A31%20GMT");
    background-size: cover;
}
.photo {
    height: 250px;
    width: 650px;
    border-radius: 10px;
}
.container {
    background-color: white;
    height: 750px;
    width: 650px;
    border-radius: 10px 10px 10px 10px;
    transform: translate(450px,50px);
    opacity: 0.8;
}
.content {
    font-size: 20px;
    font-style: oblique;
    margin-top: 20px;
    margin-left: 30px;
}
.text1 {
    width: 500px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}
.text2 {
    width: 500px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}
.text3 {
    width: 500px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}
.text4 {
    width: 500px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}
.text5 {
    width: 500px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}
.text6 {
    width: 500px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}
.button {
    color: white;
    background-color: greenyellow;
    height: 40px;
    width: 80px;
    transform: translate(300px,15px);
    border-style: hidden;
    border-radius: 5px 5px 5px 5px;
    font-size: 20px;
}